*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#f7e1d7;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 7vmin;
    font-family: serif;
    color:#1b263b;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin; 
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem purple;
    font-size: 10vmin;
    color: #284b63;
    background-color:lightpink;
}

.box:active{
    background-color: purple;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #284b63;
    color: white;
    border-radius: 1rem;
    border: 5px solid #1b263b;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #284b63;
    color: white;
    border-radius: 1rem;
    border: 5px solid #1b263b;
}

#msg{
    color: #1b263b;
    font-size: 10vmin;
    font-family: serif;
    font-weight: bold;
    
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.hide{
    display: none;
}